# 顶层的 EditorConfig 文件，设置为 true 停止在父级目录中搜索 .editorconfig 文件
root = true

# 对所有文件应用以下规则
[*]
# 使用 Unix 风格的换行符
end_of_line = lf
# 文件保存时，在文件末尾自动添加一个新行
insert_final_newline = true
# 移除行尾的空白字符
trim_trailing_whitespace = true
# 设定字符集为 utf-8
charset = utf-8

# 对于所有的 JavaScript 文件
[*.js]
# 缩进风格：空格
indent_style = space
# 缩进大小：2个空格
indent_size = 2

# 对于所有的 Python 文件
[*.py]
# 缩进风格：空格
indent_style = space
# 缩进大小：4个空格
indent_size = 4

# 对于所有的 CSS 文件
[*.css]
# 缩进风格：空格
indent_style = space
# 缩进大小：2个空格
indent_size = 2

# 对于特定文件（如 Makefile），使用制表符进行缩进
[Makefile]
indent_style = tab

# 对于 JSON 文件，使用空格缩进，每个缩进级别2个空格
[*.json]
indent_style = space
indent_size = 2

# 对于特定文件（如 package.json 或 .travis.yml），使用空格缩进，每个缩进级别2个空格
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
